# URL do endpoint de processamento DBC -> PostgreSQL
# - Se rodando FORA do Docker: use http://localhost:5000/processar
# - Se rodando DENTRO do Docker: use http://host.docker.internal:5000/processar
# - Se o serviço conversor está em outro container: use o nome do serviço
CONVERTER_API_URL=http://localhost:5000/processar

# Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=senha
DB_NAME=etl_datasus
DB_SYNC=false
DB_LOGGING=false

# Redis (para Bull Queue)
REDIS_HOST=localhost
REDIS_PORT=6379


